.screen {
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.screen-active {
  color: white;
  background-color: black;
}
 
.button-wrapper,
.screen-wrapper {
  display: flex;
}

button.button.button-active {
  background-color: lightgray;
}
